---
name: build

on:
  push:
    branches: [ main ]

  pull_request:
    branches: [ main ]

jobs:
  #
  # Note that in theory we should use github cache for ccache
  # in order to (substantially) improve build time, but as
  # github limits the total number of cache files to 10GB,
  # and for MythTV ccache to be useful it needs to be rather
  # large, and we are building a lot of versions, the github
  # cache ends up being too small to be helpful, so we do
  # not use it for this workflow
  #
  linux-build:
    name: Building ${{ matrix.branch.desc }} on ${{ matrix.container.desc }} with ${{ matrix.compiler.desc }} 

    runs-on: ubuntu-latest

    env:
      TZ: Etc/UTC
      MYTHTV_CONFIG_PREFIX: ${{ github.workspace }}/build/install
      MYTHTV_CONFIG_EXTRA:

    strategy:
      matrix:
        container:
          # { image: 'ubuntu:20.04',                   desc: 'Ubuntu 20.04 LTS (Focal Fossa)' }
          - { image: 'ubuntu:22.04',                   desc: 'Ubuntu 22.04 LTS (Jammy Jellyfish)' }
          # { image: 'ubuntu:22.10',                   desc: 'Ubuntu 22.10 (Kinetic Kudu)' }

          - { image: 'debian:bullseye',                desc: 'Debian 11 (Bullseye)' }
          # { image: 'debian:bookworm',                desc: 'Debian 12 (Bookworm)' }

          # { image: 'fedora:35',                      desc: 'Fedora 35' }
          - { image: 'fedora:36',                      desc: 'Fedora 36' }
          # { image: 'fedora:37',                      desc: 'Fedora 37' }
          # { image: 'fedora:rawhide',                 desc: 'Fedora Rawhide' }

          ## The following are disabled due to ansible not (yet) being correct
          ## and the entire stream and qt5webkit issue is still open
          - { image: 'quay.io/centos/centos:stream8',  desc: 'CentOS 8 Stream' }
          - { image: 'quay.io/centos/centos:stream9',  desc: 'CentOS 9 Stream' }
          
          - { image: 'rockylinux:8',                   desc: 'Rocky 8' }
          - { image: 'rockylinux:9',                   desc: 'Rocky 9' }

          ## The following are disabled due to ansible not (yet) being correct
          # { image: 'opensuse/tumbleweed:latest',     desc: 'OpenSUSE Tumbleweed' }
          # { image: 'opensuse/leap:latest',           desc: 'OpenSUSE Leap' }

          - { image: 'archlinux:latest',               desc: 'ArchLinux' }

        compiler:
          - { cc: 'gcc',   cxx: 'g++',                 desc: 'gcc' }
          # { cc: 'clang', cxx: 'clang++',             desc: 'clang' }

        branch:
          - { ref: 'master',                           desc: 'MythTV master' }
          - { ref: 'fixes/32',                         desc: 'MythTV fixes/32' }

      fail-fast: false

    container:
      image: ${{ matrix.container.image }}

    steps:
      - name: Detect OS release
        run: |
          . /etc/os-release
          echo "OS_RELEASE_ID=$ID" >> $GITHUB_ENV
          echo "OS_RELEASE_VERSION=$VERSION_ID" >> $GITHUB_ENV
          echo "OS_RELEASE_VERSION_MAJOR=${VERSION_ID%%.*}" >> $GITHUB_ENV
          echo "OS_RELEASE_VERSION_CODENAME=$VERSION_CODENAME" >> $GITHUB_ENV

      - name: Debian OS obtain codename for prerelease vesions
        run: echo "OS_RELEASE_VERSION_CODENAME=`dpkg --status tzdata | grep 'Provides' | cut -f2 -d'-'`" >> $GITHUB_ENV
        if: env.OS_RELEASE_ID == 'debian' && env.OS_RELEASE_VERSION_CODENAME == ''

      - name: Debian/Ubuntu OS update
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          apt update -y
          apt upgrade -y
        if: env.OS_RELEASE_ID == 'debian' || env.OS_RELEASE_ID == 'ubuntu'

      - name: Debian/Ubuntu OS install ansible
        env:
          DEBIAN_FRONTEND: noninteractive
        run: apt install ansible -y
        if: env.OS_RELEASE_ID == 'debian' || env.OS_RELEASE_ID == 'ubuntu'

      - name: Redhat OS - add EPEL repo for EL linux (for ansible)
        run: dnf -y install https://dl.fedoraproject.org/pub/epel/epel-release-latest-${{env.OS_RELEASE_VERSION_MAJOR}}.noarch.rpm
        if: env.OS_RELEASE_ID == 'centos' || env.OS_RELEASE_ID == 'rocky'

      - name: Redhat/Fedora OS update
        run: dnf upgrade -y
        if: env.OS_RELEASE_ID == 'fedora' || env.OS_RELEASE_ID == 'centos' || env.OS_RELEASE_ID == 'rocky'

      - name: Redhat/Fedora OS install ansible
        run: dnf install ansible dnf-plugins-core -y
        if: env.OS_RELEASE_ID == 'fedora' || env.OS_RELEASE_ID == 'centos' || env.OS_RELEASE_ID == 'rocky'

      - name: OpenSUSE OS update
        run: zypper update -y
        if: env.OS_RELEASE_ID == 'opensuse-leap' || env.OS_RELEASE_ID == 'opensuse-tumbleweed'

      - name: OpenSUSE OS install ansible
        run: zypper install -y ansible tar gzip
        if: env.OS_RELEASE_ID == 'opensuse-leap' || env.OS_RELEASE_ID == 'opensuse-tumbleweed'

      - name: ArchLinux OS update
        run: pacman --noconfirm -Syu
        if: env.OS_RELEASE_ID == 'arch'

      - name: ArchLinux OS install ansible
        run: pacman --noconfirm -Sy ansible
        if: env.OS_RELEASE_ID == 'arch'

      - name: Checkout MythTV/ansible repo
        uses: actions/checkout@v3
        with:
          repository: garybuhrmaster/ansible
          ref: centos8
          path: ansible

      - name: Run ansible to install build requirements
        working-directory: ansible
        run: ansible-playbook -i hosts qt5.yml

      - name: Checkout Mythtv/mythtv
        uses: actions/checkout@v3
        with:
          repository: MythTV/mythtv
          ref: ${{ matrix.branch.ref }}
          path: mythtv

      - name: Configure core
        working-directory: mythtv/mythtv
        run: ./configure --prefix=${{ env.MYTHTV_CONFIG_PREFIX }} --cc=${{ matrix.compiler.cc }} --cxx=${{ matrix.compiler.cxx }} ${{ env.MYTHTV_CONFIG_EXTRA }}

      - name: Make core
        working-directory: mythtv/mythtv
        run: make all_no_test -j4

      - name: Install core
        working-directory: mythtv/mythtv
        run: make install

      - name: Unit test core
        working-directory: mythtv/mythtv
        run: make test -j4

      - name: Configure plugins
        working-directory: mythtv/mythplugins
        run: ./configure --prefix=${{ env.MYTHTV_CONFIG_PREFIX }}

      - name: Make plugins
        working-directory: mythtv/mythplugins
        run: make -j4

      - name: Install plugins
        working-directory: mythtv/mythplugins
        run: make install

