name: build

on:
  pull_request:

  push:

jobs:


  macos-build:
    name: Build on macOS

    runs-on: macos-12

    strategy:
      fail-fast: false

    steps:
      - name: Install perl and dependencies
        run: |
          brew install perl perl-build cpanminus libx11 openssl tcl-tk 
      - name: Install perl requirements
        run: >
          cpanm --notest --no-interactive 
          Archive::Zip
          CGI
          CGI::Carp
          Date::Manip
          DateTime
          DateTime::Format::ISO8601
          DateTime::Format::SQLite
          DBI
          DBD::SQLite
          File::HomeDir
          File::Slurp
          HTML::FormatText
          HTTP::Cache::Transparent
          IO::Scalar
          JSON
          Lingua::EN::Numbers::Ordinate
          Lingua::Preferred
          List::MoreUtils
          LWP::Protocol::https
          LWP::UserAgent::Determined
          SOAP::Lite
          Term::ProgressBar
          Tk
          Tk::TableMatrix
          Unicode::String
          Unicode::UTF8simple
          URI::Encode
          XML::DOM
          XML::LibXML
          XML::Twig
          XML::TreePP
          XML::Writer

      - name: Show content of log files on failure
        if: ${{ failure() }}
        run: cat /Users/runner/.cpanm/work/*/build.log

      - name: Checkout
        uses: actions/checkout@v3
        with:
          repository: XMLTV/xmltv

      - name: perl Makefile.PL
        run: perl Makefile.PL -default NO_PACKLIST=1 NO_PERLLOCAL=1

      - name: make
        run: make

      - name: make test
        run: make test

