---
name: build

on: [push, pull_request]

jobs:

  debian-build:

    name: Build on ${{ matrix.container }}

    runs-on: ubuntu-latest

    env:
      DEBIAN_FRONTEND: noninteractive
      TZ: Etc/UTC

    strategy:
      matrix:
        container:
        - ubuntu:16.04
        - ubuntu:18.04
        - ubuntu:20.04
        - ubuntu:21.10
        - ubuntu:22.04
        - debian:stretch
        - debian:buster
        - debian:bullseye
        - debian:bookworm
      fail-fast: false

    container:
      image: ${{ matrix.container }}

    steps:
    - name: Update OS
      run: |
        apt-get update
        apt-get -y upgrade

    - name: Install requirements
      run: |
        apt-get -y install --no-install-recommends \
        libarchive-zip-perl \
        libcgi-pm-perl \
        libdata-dump-perl \
        libdate-calc-perl \
        libdate-manip-perl \
        libdatetime-format-iso8601-perl \
        libdatetime-format-sqlite-perl \
        libdatetime-format-strptime-perl \
        libdatetime-perl \
        libdatetime-timezone-perl \
        libdbd-sqlite3-perl \
        libdbi-perl \
        libfile-chdir-perl \
        libfile-homedir-perl \
        libfile-slurp-perl \
        libfile-which-perl \
        libhtml-parser-perl \
        libhtml-tree-perl \
        libhttp-cache-transparent-perl \
        libhttp-cookies-perl \
        libhttp-message-perl \
        libio-stringy-perl \
        libjson-perl \
        libjson-xs-perl \
        liblingua-preferred-perl \
        liblinux-dvb-perl \
        liblist-moreutils-perl \
        liblog-tracemessages-perl \
        liblwp-protocol-https-perl \
        liblwp-useragent-determined-perl \
        libperlio-gzip-perl \
        libsoap-lite-perl \
        libterm-progressbar-perl \
        libterm-readkey-perl \
        libtimedate-perl \
        libtk-tablematrix-perl \
        libtry-tiny-perl \
        libunicode-string-perl \
        liburi-encode-perl \
        liburi-perl \
        libwww-perl \
        libxml-dom-perl \
        libxml-libxml-perl \
        libxml-libxslt-perl \
        libxml-parser-perl \
        libxml-simple-perl \
        libxml-treepp-perl \
        libxml-twig-perl \
        libxml-writer-perl \
        make \
        perl \
        perl-tk

    - name: Checkout
      uses: actions/checkout@v3

    - name: perl Makefile.PL
      run: perl Makefile.PL --yes

    - name: make
      run: make

    - name: make test
      run: make test

  fedora-build:

    name: Build on ${{ matrix.container }}

    runs-on: ubuntu-latest

    strategy:
      matrix:
        container:
        - fedora:34
        - fedora:35
        - fedora:36
      fail-fast: false

    container:
      image: ${{ matrix.container }}

    steps:
    - name: Update OS
      run: dnf -y upgrade

    - name: Install requirements
      run: |
        dnf -y install \
          perl \
          make \
          perl-Archive-Zip \
          perl-CGI \
          perl-Data-Dump \
          perl-Date-Calc \
          perl-Date-Manip \
          perl-DateTime \
          perl-DateTime-Format-ISO8601 \
          perl-DateTime-Format-SQLite \
          perl-DateTime-Format-Strptime \
          perl-DBD-SQLite \
          perl-DBI \
          perl-File-chdir \
          perl-File-HomeDir \
          perl-File-Slurp \
          perl-File-Which \
          perl-HTML-Parser \
          perl-HTML-Tree \
          perl-HTTP-Cache-Transparent \
          perl-HTTP-Cookies \
          perl-HTTP-Message \
          perl-IO-stringy \
          perl-JSON \
          perl-JSON-XS \
          perl-libwww-perl \
          perl-Lingua-Preferred \
          perl-List-MoreUtils \
          perl-Log-TraceMessages \
          perl-LWP-Protocol-https \
          perl-LWP-UserAgent-Determined \
          perl-PerlIO-gzip \
          perl-SOAP-Lite \
          perl-Term-ProgressBar \
          perl-TermReadKey \
          perl-TimeDate \
          perl-Tk \
          perl-Tk-TableMatrix \
          perl-Try-Tiny \
          perl-Unicode-String \
          perl-URI \
          perl-URI-Encode \
          perl-XML-DOM \
          perl-XML-LibXML \
          perl-XML-LibXSLT \
          perl-XML-Parser \
          perl-XML-Simple \
          perl-XML-TreePP \
          perl-XML-Twig \
          perl-XML-Writer

    - name: Checkout
      uses: actions/checkout@v3

    - name: perl Makefile.PL
      run: perl Makefile.PL --yes

    - name: make
      run: make

    - name: make test
      run: make test

  windows-build:

    name: Build on Windows

    runs-on: windows-latest

    env:
      PERL_MM_USE_DEFAULT: 1
      TZ: Etc/UTC

    strategy:
      fail-fast: false

    steps:
    - name: Install requirements
      run: |
        cpan Date::Manip
        cpan XML::DOM
        cpan XML::Twig
        cpan Tk
        cpan Tk::TableMatrix
        cpan HTTP::Cache::Transparent
        cpan DateTime
        cpan DateTime::Format::ISO8601
        cpan DateTime::Format::SQLite
        cpan XML::Writer
        cpan XML::TreePP
        cpan Lingua::EN::Numbers::Ordinate
        cpan Lingua::Preferred
        cpan Term::ProgressBar
        cpan Unicode::String
        cpan Unicode::UTF8simple
        cpan Switch
        cpan HTML::FormatText
        cpan LWP::UserAgent::Determined
        cpan URI::Encode
        cpan Params::Validate
        cpan PAR::Packer
        cpan App::PP::Autolink

    - name: Checkout
      uses: actions/checkout@v3

    - name: perl Makefile.PL
      run: perl Makefile.PL --yes

    - name: gmake
      run: gmake

    - name: gmake test
      run: gmake test

    - name: gmake xmltv.exe
      run: gmake xmltv.exe

    - name: Create artifacts directory
      run: mkdir artifacts

    - name: Copy Windows EXE
      run: copy xmltv.exe artifacts/xmltv.exe

    - name: Upload Windows EXE
      uses: actions/upload-artifact@v2
      with:
        name: Windows EXE
        path: artifacts

