---
name: Test ansible installation for MythTV builds

on:
  push:

  pull_request:

permissions:
  contents: read

jobs:
  macOS-build:
    name: Building ${{ matrix.branch.desc }} on ${{ matrix.macOS..desc }} using ${{ matrix.pkg-mgr.desc }} with ${{ matrix.compiler.desc }}

    env:
      MACPORTS_VERSION: 2.7.2
      TZ: Etc/UTC
      MYTHTV_CONFIG_PREFIX: ${{ github.workspace }}/build/install
      MYTHTV_CONFIG_EXTRA:

    strategy:
      matrix:
        macOS:
          - { os: 'macos-11',                          desc: 'macOS 11 (Big Sur)',     portspkg: '11-BigSur'}
          - { os: 'macos-12',                          desc: 'macOS 12 (Monterey)',    portspkg: '12-Monterey' }

        compiler:
          - { cc: 'gcc',   cxx: 'g++',                 desc: 'gcc' }
          # { cc: 'clang', cxx: 'clang++',             desc: 'clang' }

        pkg-mgr:
          # { mgr: 'macports',                         desc: 'macports' }
          - { mgr: 'homebrew',                         desc: 'homebrew' }

        branch:
          - { ref: 'master',                           desc: 'MythTV master' }
          # { ref: 'fixes/32',                         desc: 'MythTV fixes/32' }

      fail-fast: false

    runs-on: ${{ matrix.macOS.os }}

    steps:
      - name: Uninstall homebrew if using macports (package conflicts)
        run: /bin/bash -c "$(NONINTERACTIVE=1 curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/uninstall.sh)"
        if: matrix.pkg-mgr.mgr == 'macports'

      - name: Install macports if using macports
        run: |
          curl --location https://github.com/macports/macports-base/releases/download/v${{ env.MACPORTS_VERSION }}/MacPorts-${{ env.MACPORTS_VERSION }}-${{ matrix.macOS.portspkg }}.pkg --output MacPorts.pkg
          sudo installer -pkg ./MacPorts.pkg -target /
          echo "PATH=/opt/local/bin:/opt/local/sbin:$PATH" >> $GITHUB_ENV
        if: matrix.pkg-mgr.mgr == 'macports'

      - name: Install ansible for macports
        run: |
          sudo port install py310-ansible
          sudo port select --set ansible py310-ansible
        if: matrix.pkg-mgr.mgr == 'macports'

      - name: Install ansible for homebrew
        run: brew install ansible
        if: matrix.pkg-mgr.mgr == 'homebrew'

      - name: Checkout MythTV/ansible repo
        uses: actions/checkout@v3
        with:
          repository: garybuhrmaster/ansible
          ref: homebrew
          path: ansible

      - name: Run ansible to install build requirements
        working-directory: ansible
        run: sudo ansible-playbook --verbose -i hosts qt5.yml --extra-vars "install_qtwebkit=true"
        if: matrix.pkg-mgr.mgr == 'macports'

      - name: Add qt5 qmake path to for macports
        run: echo "PATH=/opt/local/libexec/qt5/bin:$PATH" >> $GITHUB_ENV
        if: matrix.pkg-mgr.mgr == 'macports'

      - name: Install core dependencies (macOS) if using homebrew
        run: |
          brew install pkg-config ccache qt5 nasm libsamplerate taglib lzo libcec libbluray fftw libass libhdhomerun dav1d x264 x265 libvpx openssl sound-touch
          brew link qt5 --force
        if: matrix.pkg-mgr.mgr == 'homebrew'

      - name: Checkout Mythtv/mythtv
        uses: actions/checkout@v3
        with:
          repository: MythTV/mythtv
          ref: ${{ matrix.branch.ref }}
          path: mythtv

      - name: Configure core
        working-directory: mythtv/mythtv
        run: ./configure --prefix=${{ env.MYTHTV_CONFIG_PREFIX }} --cc=${{ matrix.compiler.cc }} --cxx=${{ matrix.compiler.cxx }} ${{ env.MYTHTV_CONFIG_EXTRA }} --extra-cxxflags='-I/usr/local/include -I/opt/local/include' --extra-ldflags='-L/usr/local/lib -L/opt/local/lib'

