name: build

on:
  pull_request:

  push:

jobs:
  macos-build:
    name: Build on macOS

    runs-on: macos-latest

    strategy:
      fail-fast: false

    steps:
      - name: Install cpanm
        run: |
          brew install cpanminus

      - name: Install dependencies
        run: |
          brew install libxslt

      - name: Install perl requirements
        run: >
          cpanm --notest --no-interactive
          XML::LibXSLT

      - name: Show content of log files on failure
        if: ${{ failure() }}
        run: cat /Users/runner/.cpanm/work/*/build.log

