name: build

on:
  pull_request:

  push:

jobs:


  macos-build:
    name: Build on macOS

    runs-on: macos-latest

    strategy:
      fail-fast: false

    steps:
      - name: Install perl and cpanm
        run: |
          brew install cpanminus
      - name: Install perl requirements
        run: >
          cpanm --notest --no-interactive 
          Archive::Zip
          Date::Manip
          DateTime DateTime::Format::ISO8601
          DateTime::Format::SQLite
          DBI
          File::HomeDir
          HTML::FormatText
          HTTP::Cache::Transparent
          IO::Scalar
          Lingua::EN::Numbers::Ordinate
          Lingua::Preferred
          LWP::UserAgent::Determined
          SOAP::Lite
          Term::ProgressBar
          Unicode::String
          Unicode::UTF8simple
          URI::Encode
          XML::DOM
          XML::Twig
          XML::TreePP

      - name: Show content of log files on failure
        if: ${{ failure() }}
        run: cat /Users/runner/.cpanm/work/*/build.log

      - name: Checkout
        uses: actions/checkout@v3
        with:
          repository: XMLTV/xmltv

      - name: perl Makefile.PL
        run: perl Makefile.PL -default NO_PACKLIST=1 NO_PERLLOCAL=1

      - name: make
        run: make

      - name: make test
        run: make test

