---
name: build

on: [push, pull_request]

jobs:

  deb-build:

    name: Debian build on ${{ matrix.container }}

    runs-on: ubuntu-latest

    strategy:
      matrix:
        container:
        - ubuntu:16.04
        - ubuntu:18.04
        - ubuntu:20.04
        - ubuntu:21.10
        - ubuntu:22.04
      fail-fast: false

    container:
      image: ${{ matrix.container }}

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Update OS
      run: apt-get update
      run: apt-get -y upgrade

    - name: Install requirements
      run: |
        apt-get -y install --no-install-recommends \
        libarchive-zip-perl \
        libcgi-pm-perl \
        libdata-dump-perl \
        libdate-calc-perl \
        libdate-manip-perl \
        libdatetime-format-iso8601-perl \
        libdatetime-format-sqlite-perl \
        libdatetime-format-strptime-perl \
        libdatetime-perl \
        libdatetime-timezone-perl \
        libdbd-sqlite3-perl \
        libdbi-perl \
        libfile-chdir-perl \
        libfile-homedir-perl \
        libfile-slurp-perl \
        libfile-which-perl \
        libhtml-parser-perl \
        libhtml-tree-perl \
        libhttp-cache-transparent-perl \
        libhttp-cookies-perl \
        libhttp-message-perl \
        libio-stringy-perl \
        libjson-perl \
        libjson-xs-perl \
        liblingua-preferred-perl \
        liblinux-dvb-perl \
        liblist-moreutils-perl \
        liblog-tracemessages-perl \
        liblwp-protocol-https-perl \
        liblwp-useragent-determined-perl \
        libperlio-gzip-perl \
        libsoap-lite-perl \
        libterm-progressbar-perl \
        libterm-readkey-perl \
        libtimedate-perl \
        libtk-tablematrix-perl \
        libtry-tiny-perl \
        libunicode-string-perl \
        liburi-encode-perl \
        liburi-perl \
        libwww-perl \
        libxml-dom-perl \
        libxml-libxml-perl \
        libxml-libxslt-perl \
        libxml-parser-perl \
        libxml-simple-perl \
        libxml-treepp-perl \
        libxml-twig-perl \
        libxml-writer-perl \
        make \
        perl \
        perl-tk

    - name: perl Makefile.PL
      run: perl Makefile.PL
    - name: make
      run: make
    - name: make test
      run: make test

  windows-build:

    name: Build on Windows

    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v3
      - name: perl -V
        run: perl -V

