---
name: build

on: [push, pull_request]

jobs:

  debian-build:

    name: Build on ${{ matrix.container }}

    runs-on: ubuntu-latest

    env:
      DEBIAN_FRONTEND: noninteractive
      TZ: Etc/UTC

    strategy:
      matrix:
        container:
        - ubuntu:16.04
        - ubuntu:18.04
        - ubuntu:20.04
        - ubuntu:21.10
        - ubuntu:22.04
        - debian:stretch
        - debian:buster
        - debian:bullseye
        - debian:bookworm
      fail-fast: false

    container:
      image: ${{ matrix.container }}

    steps:
    - name: Update OS
      run: |
        apt-get update -q -y
        apt-get upgrade -q -y

    - name: Install build requirements
      run: |
        apt-get install -q -y --no-install-recommends \
        libarchive-zip-perl \
        libcgi-pm-perl \
        libdata-dump-perl \
        libdate-calc-perl \
        libdate-manip-perl \
        libdatetime-format-iso8601-perl \
        libdatetime-format-sqlite-perl \
        libdatetime-format-strptime-perl \
        libdatetime-perl \
        libdatetime-timezone-perl \
        libdbd-sqlite3-perl \
        libdbi-perl \
        libfile-chdir-perl \
        libfile-homedir-perl \
        libfile-slurp-perl \
        libfile-which-perl \
        libhtml-parser-perl \
        libhtml-tree-perl \
        libhttp-cache-transparent-perl \
        libhttp-cookies-perl \
        libhttp-message-perl \
        libio-stringy-perl \
        libjson-perl \
        libjson-xs-perl \
        liblingua-preferred-perl \
        liblinux-dvb-perl \
        liblist-moreutils-perl \
        liblog-tracemessages-perl \
        liblwp-protocol-https-perl \
        liblwp-useragent-determined-perl \
        libperlio-gzip-perl \
        libsoap-lite-perl \
        libterm-progressbar-perl \
        libterm-readkey-perl \
        libtimedate-perl \
        libtk-tablematrix-perl \
        libtry-tiny-perl \
        libunicode-string-perl \
        liburi-encode-perl \
        liburi-perl \
        libwww-perl \
        libxml-dom-perl \
        libxml-libxml-perl \
        libxml-libxslt-perl \
        libxml-parser-perl \
        libxml-simple-perl \
        libxml-treepp-perl \
        libxml-twig-perl \
        libxml-writer-perl \
        make \
        perl \
        perl-tk

    - name: Checkout
      uses: actions/checkout@v3

    - name: perl Makefile.PL
      run: perl Makefile.PL

    - name: make
      run: make

    - name: make test
      run: make test

  rpmfusion-build:

    name: Build on ${{ matrix.container }}

    runs-on: ubuntu-latest

    env:
      PKG_MGR: dnf
      TZ: Etc/UTC

    strategy:
      matrix:
        container:
        - fedora:34
        - fedora:35
        - fedora:36
        - quay.io/centos/centos:centos7
        - quay.io/centos/centos:stream8

      fail-fast: false

    container:
      image: ${{ matrix.container }}

    steps:
    - name: Detect EL linux
      run: |
        . /etc/os-release && echo "OS_RELEASE_ID=$ID" >> $GITHUB_ENV
        . /etc/os-release && echo "OS_RELEASE_VERSION=${VERSION_ID%%.*}" >> $GITHUB_ENV

    - name: Adjust package manager for EL 7
      run: echo "PKG_MGR=yum" >> $GITHUB_ENV
      if: |
        env.OS_RELEASE_ID == 'centos' && env.OS_RELEASE_VERSION == '7'

    - name: Add powertools repo for EL 8
      run: ${{env.PKG_MGR}} config-manager --set-enabled powertools
      if: |
        env.OS_RELEASE_ID == 'centos' && env.OS_RELEASE_VERSION == '8'

    - name: Add EPEL repo for EL linux
      run: ${{env.PKG_MGR}} -y install https://dl.fedoraproject.org/pub/epel/epel-release-latest-${{env.OS_RELEASE_VERSION}}.noarch.rpm
      if: |
        env.OS_RELEASE_ID == 'centos'

    - name: Update OS
      run: ${{env.PKG_MGR}} upgrade -y

    - name: Install build requirements
      run: |
        ${{env.PKG_MGR}} install -y \
          make \
          perl-interpreter \
          perl-devel \
          perl-Archive-Zip \
          perl-CGI \
          perl-Cwd \
          perl-Data-Dumper \
          perl-Date-Calc \
          perl-Date-Manip \
          perl-DateTime \
          perl-DateTime-Format-ISO8601 \
          perl-DateTime-Format-SQLite \
          perl-DateTime-Format-Strptime \
          perl-DBD-SQLite \
          perl-DBI \
          perl-Digest-SHA \
          perl-ExtUtils-MakeMaker \
          perl-File-chdir \
          perl-File-Copy
          perl-File-HomeDir \
          perl-File-Slurp \
          perl-File-Temp \
          perl-File-Which \
          perl-Getopt-Long \
          perl-Getopt-Std \
          perl-HTML-Parser \
          perl-HTML-Tree \
          perl-HTTP-Cache-Transparent \
          perl-HTTP-Cookies \
          perl-HTTP-Message \
          perl-IO-stringy \
          perl-JSON \
          perl-JSON-XS \
          perl-libwww-perl \
          perl-Lingua-Preferred \
          perl-List-MoreUtils \
          perl-LWP-Protocol-https \
          perl-LWP-UserAgent-Determined \
          perl-Memoize \
          perl-PerlIO-gzip \
          perl-SOAP-Lite \
          perl-Term-ProgressBar \
          perl-TermReadKey \
          perl-Time-HiRes \
          perl-Time-Local \
          perl-Time-Piece \
          perl-TimeDate \
          perl-Tk \
          perl-Tk-TableMatrix \
          perl-Try-Tiny \
          perl-Unicode-String \
          perl-URI \
          perl-URI-Encode \
          perl-XML-DOM \
          perl-XML-LibXML \
          perl-XML-LibXSLT \
          perl-XML-Parser \
          perl-XML-Simple \
          perl-XML-TreePP \
          perl-XML-Twig \
          perl-XML-Writer

    - name: Checkout
      uses: actions/checkout@v3

    - name: perl Makefile.PL
      run: perl Makefile.PL

    - name: make
      run: make

    - name: make test
      run: make test

  windows-build:

    name: Build on Windows

    runs-on: windows-latest

    strategy:
      fail-fast: false

    steps:
    - name: Install build requirements
      run: |
        cpanm --notest --no-interactive Date::Manip
        cpanm --notest --no-interactive XML::DOM
        cpanm --notest --no-interactive XML::Twig
        cpanm --notest --no-interactive Tk
        cpanm --notest --no-interactive Tk::TableMatrix
        cpanm --notest --no-interactive HTTP::Cache::Transparent
        cpanm --notest --no-interactive DateTime DateTime::Format::ISO8601
        cpanm --notest --no-interactive DateTime::Format::SQLite 
        cpanm --notest --no-interactive XML::Writer XML::TreePP
        cpanm --notest --no-interactive Lingua::EN::Numbers::Ordinate 
        cpanm --notest --no-interactive Lingua::Preferred
        cpanm --notest --no-interactive Term::ProgressBar
        cpanm --notest --no-interactive Unicode::String
        cpanm --notest --no-interactive Unicode::UTF8simple
        cpanm --notest --no-interactive HTML::FormatText 
        cpanm --notest --no-interactive LWP::UserAgent::Determined
        cpanm --notest --no-interactive URI::Encode
        cpanm --notest --no-interactive PAR::Packer
        cpanm --notest --no-interactive App::PP::Autolink
        cpanm --notest --no-interactive Params::Validate

    - name: Checkout
      uses: actions/checkout@v3

    - name: perl Makefile.PL
      run: perl Makefile.PL

    - name: gmake
      run: gmake

    - name: gmake xmltv.exe
      run: gmake xmltv.exe
      if: github.event_name == 'push'

    - name: Create artifacts directory
      run: mkdir artifacts
      if: github.event_name == 'push'

    - name: Copy Windows EXE
      run: copy xmltv.exe artifacts/xmltv.exe
      if: github.event_name == 'push'

    - name: Upload Windows EXE
      uses: actions/upload-artifact@v2
      with:
        name: Windows EXE
        path: artifacts
        retention-days: 15
      if: github.event_name == 'push'

