---
name: Run clang-tidy

on:
  push:

  pull_request:

permissions:
  contents: read

jobs:

  clang-tidy:
    name: Run clang-tidy

    env:
      TZ: Etc/UTC
      MYTHTV_CONFIGURE_PREFIX: --prefix=${{ github.workspace }}/build/install
      MYTHTV_CONFIGURE_EXTRA:

    runs-on: ubuntu-latest

    container:
      image: fedora:rawhide

    steps:
      - name: Update OS
        run: dnf upgrade -y

      - name: Install ansible
        run: dnf install ansible -y

      - name: Checkout MythTV/ansible repo
        uses: actions/checkout@v3
        with:
          repository: MythTV/ansible
          path: ansible

      - name: Run ansible to install build requirements
        working-directory: ./ansible
        run: ansible-playbook -i hosts qt5.yml

      - name: Install extra packages for greater coverage and clang-tidy
        run: dnf install qt5-qtbase-private-devel clang clang-tools-extra -y

      - name: Checkout MythTV/mythtv repo
        uses: actions/checkout@v3
        with:
          repository: garybuhrmaster/mythtv
          ref: limits

      - name: Configure core
        working-directory: ./mythtv
        run: ./configure $MYTHTV_CONFIGURE_PREFIX --cc=clang --cxx=clang++ --enable-symbol-visibility --enable-compdb --enable-libvpx --enable-libx264 --enable-libx265 --enable-libxvid $MYTHTV_CONFIGURE_EXTRA

      - name: Make core
        working-directory: ./mythtv
        run: make all_no_test -j4

      - name: Install core
        working-directory: ./mythtv
        run: make install

      - name: Unit test core
        working-directory: ./mythtv
        run: make test -j4

      - name: Configure plugins
        working-directory: ./mythplugins
        run: ./configure $MYTHTV_CONFIGURE_PREFIX

      - name: Make plugins
        working-directory: ./mythplugins
        run: make -j4

      - name: Install plugins
        working-directory: ./mythplugins
        run: make install

      - name: Make compilation database
        working-directory: ./mythtv
        run: make compdb

      - name:
        run: touch /tmp/stderr.txt

      - name: Run clang-tidy
        working-directory: ./mythtv
        run: stdbuf --error=0 --output=0 run-clang-tidy 2> >(stdbuf --error=0 --output=0 tee -a /tmp/stderr.txt >&2)

      - name: Report any errors
        run: cat /tmp/stderr.txt

