---
name: cppcheck

on:
  push:

jobs:
  cppcheck:
    name: Run cppcheck

    runs-on: ubuntu-latest

    container:
      image: fedora:latest

    steps:
      - name: Update OS
        run: dnf upgrade -y

      - name: Install cppcheck and dependencies
        run: dnf install cppcheck perl perl-XML-Simple perl-HTML-Parser perl-Switch pkgconf qt5-qtbase-devel -y

      - name: Checkout buildbot-utils
        uses: actions/checkout@v3
        with:
          repository: MythTV/buildbot-utils
          path: buildbot-utils

      - name: Checkout Mythtv/mythtv
        uses: actions/checkout@v3
        with:
          repository: MythTV/mythtv
          path: mythtv

      - name: show vars
        run: |
          pwd
          ls -alt
          ls -alt mythtv
          ls -alt buildbot-utils
          ls -alt buildbot-utils/cppcheck

      - name: Run cppcheck
        working-directory: ./mythtv
        run: |
          pwd
          ls -alt
          ls -alt ../buildbot-utils/cppcheck
          ../buildbot-utils/cppcheck/run_cppcheck.sh

      - name: Generate report
        working-directory: ./mythtv
        run: ../buildbot-utils/cppcheck/generate_cppcheck_report.pl cppcheck.xml index.html
